/*FONT CHOICES:;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Shadows Into Light', cursive;
*/

:root {
	--primary-color: #4ABDAC;
	--light-color: #ffffff;
	--dark--color: #313D4B;
	--primary-font: 'Open Sans Condensed', sans-serif;
	--styled-font: 'Shadows Into Light', cursive;	
}


body {

}

header {
	height: 75px;
	background-color: var(--primary-color);
}